* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightpink;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Tries {
  background-color: lightpink;
  height: 10vh;
  display: flex;
  justify-content: center;
}
#container1 {
  background-color: black;
  height: 35vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#container2 {
  background-color: black;
  height: 35vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
}
